# Copyright 2025 Matheus Pimenta.
# SPDX-License-Identifier: AGPL-3.0

# Default values for gke-metadata-server.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

config:
  # Mandatory GCP project ID.
  projectID: ""
  # Mandatory fully-qualified name of the GCP Workload Identity Provider.
  # This full name can be retrieved on the Google Cloud Console webpage for the provider.
  # Must match the pattern: projects/<gcp_project_number>/locations/global/workloadIdentityPools/<pool_name>/providers/<provider_name>
  workloadIdentityProvider: ""
  logLevel: info # Log level. Accepted values: panic, fatal, error, warning, info, debug, trace
  serverPort: 16321 # TCP port where the metadata HTTP server will listen on.
  healthPort: 16322 # TCP port where the health HTTP server will listern on.
  watchPods:
    enable: true # Whether or not to watch and cache the Pods running on the same Node.
    disableFallback: false # Whether or not to disable the simple fallback method for looking up Pods upon cache misses.
    resyncPeriod: 10m # How often to fully resync.
  watchNode:
    enable: true # Whether or not to watch and cache the Node where the server is running.
    disableFallback: false # Whether or not to disable the simple fallback method for looking up the Node upon cache misses.
    resyncPeriod: 1h # How often to fully resync.
  watchServiceAccounts:
    enable: true # Whether or not to watch and cache all the Service Accounts of the cluster.
    disableFallback: false # Whether or not to disable the simple fallback method for looking up Service Accounts upon cache misses.
    resyncPeriod: 1h # How often to fully resync.
  cacheTokens:
    enable: true # Whether or not to proactively cache tokens for the Service Accounts used by the Pods running in the same Node.
    concurrency: 10 # Maximum parallel caching operations.
    maxTokenDuration: 1h # Maximum duration for cached service account tokens.
  podLookup:
    maxAttempts: 3 # Maximum number of attempts to try looking up a pod by the client connection IP address.
    retryInitialDelay: 1s # Initial delay for retrying pod lookups upon failures.
    retryMaxDelay: 30s # Maximum delay for retrying pod lookups upon failures.

podAnnotations: {}
  # Optionally, configure Prometheus to scrape the server:
  # prometheus.io/scrape: "true"
  # prometheus.io/port: "16321"
  # prometheus.io/path: /metrics

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeArch: amd64 # Target node architecture. Accepted values: amd64, arm64

image:
  repository: ghcr.io/matheuscscp/gke-metadata-server
  pullPolicy: IfNotPresent

  # Overrides the image tag whose default is the chart appVersion.
  # tag: some-tag

  # Overrides the image tag whose default is the chart appVersion (stronger than tag).
  # digest: some-digest
