# Copyright 2025 Matheus Pimenta.
# SPDX-License-Identifier: AGPL-3.0

apiVersion: v1
kind: ServiceAccount
metadata:
  name: gke-metadata-server
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gke-metadata-server
rules:
- apiGroups: [""]
  resources: [pods, nodes, serviceaccounts]
  verbs: [get, list, watch]
- apiGroups: [""]
  resources: [nodes]
  verbs: [update]
- apiGroups: [""]
  resources: [serviceaccounts/token]
  verbs: [create]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gke-metadata-server
roleRef:
  kind: ClusterRole
  name: gke-metadata-server
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: gke-metadata-server
  namespace: kube-system
