# Copyright 2025 Matheus Pimenta.
# SPDX-License-Identifier: AGPL-3.0

on:
  schedule: # runs at 09:00 UTC every day
  - cron:  0 9 * * *
  workflow_dispatch: # for manual trigger in the UI

concurrency:
  group: continuous-integration # lock for shared CI resources
  cancel-in-progress: false

jobs:
  clean-resources:
    runs-on: ubuntu-latest
    environment: clean-resources
    permissions:
      id-token: write
    steps:
    - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
      with:
        project_id: gke-metadata-server
        workload_identity_provider: projects/637293746831/locations/global/workloadIdentityPools/github-actions/providers/github-actions
        service_account: clean-resources@gke-metadata-server.iam.gserviceaccount.com

    - name: Clean up Workload Identity Pool Providers
      run: |
        PREFIX=projects/637293746831/locations/global/workloadIdentityPools/test-kind-cluster/providers/test-
        for provider in $(gcloud iam workload-identity-pools providers list \
          --location="global" \
          --workload-identity-pool="test-kind-cluster" \
          --format="value(name)" \
          --filter="name:$PREFIX*"); do
          echo "Deleting provider: $provider"
          gcloud iam workload-identity-pools providers delete $provider \
            --location="global" \
            --workload-identity-pool="test-kind-cluster" \
            --quiet
        done
