# Copyright 2025 Matheus Pimenta.
# SPDX-License-Identifier: AGPL-3.0

on: [pull_request]

concurrency:
  group: continuous-integration # lock for shared CI resources
  cancel-in-progress: false

jobs:
  pull-request:
    runs-on: ubuntu-latest
    environment: pull-request
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v6

    - uses: ./.github/actions/ci-setup/
      with:
        google-service-account-name: pull-request
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - uses: ./.github/actions/ci-checks/
