# MIT License
#
# Copyright (c) 2023 Matheus Pimenta
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

on: [pull_request]

concurrency:
  group: continuous-integration # lock for shared CI resources
  cancel-in-progress: false

jobs:
  pull-request:
    runs-on: ubuntu-latest
    environment: pull-request
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v6

    - name: Free disk space
      run: |
        set -eux
        df -h
        sudo rm -rf /usr/share/dotnet || true
        sudo rm -rf /opt/ghc || true
        sudo rm -rf /usr/local/share/boost || true
        sudo rm -rf "$AGENT_TOOLSDIRECTORY" || true
        sudo rm -rf /usr/local/lib/android || true
        docker system prune -af || true
        sudo apt-get clean || true
        df -h

    - uses: ./.github/actions/ci-setup/
      with:
        google-service-account-name: pull-request
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - id: check-new-releases
      uses: ./.github/actions/check-new-releases/
      with:
        registry: ghcr.io

    - name: Prepare New Releases Check PR Comment
      env:
        release_helm: ${{ steps.check-new-releases.outputs.release-helm }}
        release_timoni: ${{ steps.check-new-releases.outputs.release-timoni }}
        release_container: ${{ steps.check-new-releases.outputs.release-container }}
      run: |
        touch new-releases-check.txt
        if [ "$release_container" == "yes" ]; then
          echo "This pull request will release version $(yq .container versions.yaml) of the Container." >> new-releases-check.txt
          if [ "$release_helm" == "yes" ] || [ "$release_timoni" == "yes" ]; then
            echo "" >> new-releases-check.txt
          fi
        fi
        if [ "$release_helm" == "yes" ]; then
          echo "This pull request will release version $(yq .helm versions.yaml) of the Helm Chart." >> new-releases-check.txt
          if [ "$release_timoni" == "yes" ]; then
            echo "" >> new-releases-check.txt
          fi
        fi
        if [ "$release_timoni" == "yes" ]; then
          echo "This pull request will release version $(yq .timoni versions.yaml) of the Timoni Module." >> new-releases-check.txt
        fi
        if [ "$release_helm" == "no" ] && [ "$release_timoni" == "no" ] && [ "$release_container" == "no" ]; then
          echo "No version releases in this pull request." >> new-releases-check.txt
        fi
    - name: Comment New Releases Check on PR
      uses: ./.github/actions/comment-status/
      with:
        title: New Releases Check
        message-file: new-releases-check.txt

    - uses: ./.github/actions/ci-checks/
