# Copyright 2025 Matheus Pimenta.
# SPDX-License-Identifier: AGPL-3.0

on:
  push:
    branches: [main]
  workflow_dispatch: # for manual trigger in the UI

jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    environment: terraform-apply
    permissions:
      contents: read
      id-token: write
    steps:
    - uses: actions/checkout@v6
    - uses: google-github-actions/auth@v3
      with:
        project_id: gke-metadata-server
        workload_identity_provider: projects/637293746831/locations/global/workloadIdentityPools/github-actions/providers/github-actions
        service_account: tf-apply@gke-metadata-server.iam.gserviceaccount.com
    - uses: hashicorp/setup-terraform@v3
    - run: cd terraform/ && terraform init && terraform apply -auto-approve && terraform plan -detailed-exitcode
