# Copyright 2025 Matheus Pimenta.
# SPDX-License-Identifier: AGPL-3.0

on: [pull_request]

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    environment: terraform-plan
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
    - uses: actions/checkout@v6
    - uses: google-github-actions/auth@v3
      with:
        project_id: gke-metadata-server
        workload_identity_provider: projects/637293746831/locations/global/workloadIdentityPools/github-actions/providers/github-actions
        service_account: tf-plan@gke-metadata-server.iam.gserviceaccount.com
    - uses: hashicorp/setup-terraform@v3
    - run: cd terraform/ && terraform init && terraform plan -no-color > plan.txt
    - uses: ./.github/actions/comment-status/
      with:
        title: Terraform Plan
        message-file: terraform/plan.txt
